ASKLEARNLY_APP_NAME=AskLearnly
ASKLEARNLY_APP_VERSION=0.1.0
ASKLEARNLY_ENVIRONMENT=development
ASKLEARNLY_DEBUG=false
ASKLEARNLY_API_V1_PREFIX=/api/v1
ASKLEARNLY_CORS_ORIGINS=["http://localhost:3000"]
